extends ../admin

block adminContent
   .adminSect
      p.titlee Planning Flights
      .contButton
         a.waves-effect.waves-light.btn.modal-trigger.createButton.grey.darken-3(href='#modal1') - Plan a new flight -
      .tableContainer
         table#tablePlanningFlights.hover.order-column.tableFlinchi
            thead
               tr
                  th Flight Code
                  th Depart Date
                  th Arrival Date
                  th Airplane Number
                  th Route Number
                  th Origin
                  th Destiny
                  th State
            tbody
               each flight in flights
                  tr
                     td #{flight.code}
                     td #{h.moment(flight.departDate).add(4, 'hours').format('lll')}
                     td #{h.moment(flight.arrivalDate).add(4, 'hours').format('lll')}
                     td #{flight.airplaneId}
                     td #{flight.routeId}
                     td #{flight.origin}
                     td #{flight.destiny}
                     td #{flight.state}
      .formContainer
         #modal1.modal
            .modal-content.contentModal.modalPlanningFlights
               h4 Plan Flight
               hr.separatorTitleModalAdmin
               form(action="/admin/planningFlights" method="POST")
                  .row.rowModalAdmin
                     .input-field.col.s6 
                        i(class="far fa-calendar prefix material-icons")
                        input.datepickerAdmin(type='text' placeholder="Choose the Depart Date" name="date")
                        label(for='depart') Depart Date
                     .input-field.col.s6 
                        i(class="far fa-clock prefix material-icons")
                        input.timepickerAdmin(type='text' placeholder="Choose the Depart Time" name="time")
                        label(for='depart') Depart Time
                  .row.rowModalAdmin2
                     .input-field.col.s6 
                        select(name="airplaneId").selectAdmin.browser-default.selectFlightAirplane
                           option(value='', disabled='', selected='') Select Company Airplane
                           each airplaneId in airplanesIds
                              option(value=`${airplaneId.airplaneId}`) #{airplaneId.airplaneId}
                     .input-field.col.s6 
                        select(name="routeNumber").selectAdmin.browser-default.selectFlightRoute
                           option(value='', disabled='', selected='') Select Route
                  .modal-footer
                     a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
                     button.modal-close.waves-effect.waves-green.btn-flat(type="submit") Save &nbsp;&nbsp;<i class="fas fa-save"></i>


