extends ../admin

block adminContent
   .adminSect
      p.titlee Failure Reports
      .contButton
         a.waves-effect.waves-light.btn.modal-trigger.createButton.grey.darken-3(href='#modal1' ) - Add a new failure report -
      //- .contButton
      //-          a.waves-effect.waves-light.btn.modal-trigger.createButton.grey.darken-3(href='#modal1' ) - Add a new Airplane -
      .tableContainer
            table#tablePlanningFlights.hover.order-column.tableFlinchi
               thead
                  tr
                     th Failure ID
                     th Airplane ID
                     th Date
                     th State
               tbody
                  each failure in failures
                        tr
                           td #{failure.id}  
                           td #{failure.airplaneId}
                           td #{h.moment(failure.date).add(4, 'hours').format('lll')}
                           td #{failure.state}
      .formContainer
         #modal1.modal
               .modal-content.contentModal.modalPlanningFlights
                  h4 Add a new failure report
                  hr.separatorTitleModalAdmin
                  form(action="/admin/reportsFailures" method="POST")
                     .row.rowModalAdmin
                        .input-field.col.s12
                           select(name="airplaneId").selectAdmin.browser-default.selectFlightAirplane
                              each model in models
                                 option(value=`${model.id}`) #{model.id}
                     .modal-footer
                           a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
                           button.modal-close.waves-effect.waves-green.btn-flat(type="submit") Save &nbsp;&nbsp;<i class="fas fa-save"></i>

