extends layout

block content
   .airport
      .airport__background
         img.airport__background-image(src=`/images/${airport.iata}.jpg`, alt=`Airport - ${airport.iata}`)
         .airport__background-conttext
            p.airport__background-text 
               span #{airport.iata} 
               | - #{airport.city}
      .airport__info
         .airport__map
            img.airport__map-image(src=h.staticMap(airport.coordinates))
            .airport__map-contname
               p.airport__map-name - #{airport.name} -

         .airport__flights
            each flight in airport.flights
               .airport__flights-card
                  table
                     thead 
                        tr
                           th From
                           th To
                           th Depart Date
                           th Price
                           th 
                     tbody
                        tr
                           - const conditionFrom = flight.from.startsWith(airport.iata);
                           - const conditionTo = flight.to.startsWith(`${airport.iata}`);
                           if conditionFrom
                              td <span class="flightImportant">#{flight.from}</span>
                           else
                              td #{flight.from}
                           if conditionTo
                              td <span class="flightImportant">#{flight.to}</span>
                           else
                              td #{flight.to}
                           td #{flight.departDate}
                           td #{flight.price} $
                           td.buttonCell 
                              a(class="waves-effect waves-light btn-small") Purchase&nbsp;&nbsp; <i class="fas fa-cart-plus"></i>